<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior">
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="MyBehavior" name="AuthenticationService.AuthorizationService">
        <endpoint address="net.tcp://localhost:9091/Authentication" binding="netTcpBinding"
          bindingConfiguration="" name="AuthenticationServiceEndPoint"
          contract="AuthenticationService.IAuthorizationContract" />
        <endpoint address="net.tcp://localhost:9091/Authentication/mex"
          binding="mexTcpBinding" bindingConfiguration="" name="AuthenticationServiceEndPointMex"
          contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DBmodel" connectionString="data source=USER-PC\SQLEXPRESS;&#xD;&#xA;       initial catalog=Chat;integrated security=True;&#xD;&#xA;       MultipleActiveResultSets=True;App=EntityFramework"


         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>