<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="Chat_Server_End_point" />
                <binding name="AuthenticationServiceEndPoint" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9090/Chat_Server" binding="netTcpBinding"
                bindingConfiguration="Chat_Server_End_point" contract="Proxy.IServiceContract"
                name="Chat_Server_End_point">
                <identity>
                    <userPrincipalName value="*********" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9091/Authentication" binding="netTcpBinding"
                bindingConfiguration="AuthenticationServiceEndPoint" contract="ProxyAuthentication.IAuthenticationContract"
                name="AuthenticationServiceEndPoint">
                <identity>
                    <userPrincipalName value="*********" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>